.ext-favicon {
  position: absolute;
  transform: translate(calc(-100% - 4px), calc(-100% + 0.2em));
}

.ext-favicon-container {
  display: inline-block;
}

#ires a cite:first-child {
  padding-left: 19px;
}
/* 2019/07/17 new style */
#rcnt a cite:first-child {
  padding-left: 19px;
}

